!!! 5
html
  head
    title ProfAsia Prototype
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2')
    link(rel='stylesheet', href=cdn('/css/main.css'))
    link(rel='stylesheet', href=cdn('/css/font-awesome.css'))
    script(src=cdn('/js/jquery-2.0.3.min.js'))
    script(src=cdn('/js/scalpel-0.2.1.min.js'))
  body
    #header
      a.brand(href='/index.html')
        img(src=cdn('/img/logo.png'), alt='ProfAsia')
      .nav
        a#nav-applicant(href='/applicant/index.html')
          i.icon-user.smooth
          span Жозеф Луи Лагранж
        a#nav-acmecorp(href='/employer/index.html')
          i.icon-building.smooth
          span AcmeCorp Inc.
        a#nav-choose-org.sticky(href='javascript:;', data-switch='#choose-org')
          i.icon-caret-down
        #choose-org.dropdown.right(data-url='/partials/choose-org.html')
    #content
      #sidenav
        block sidenav
      #main
        block main
    #footer
      p 2012—2013 &copy; <a href='http://profasia.org'>ProfAsia LLC</a>
